.cardWidth {
    width: 24%;
}

.pcButton {
    /* width: 30%; */
    margin: 0 2%;
    border-radius: 10%;
    max-width: max-content;
}

.pcBtnGroup {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    margin: 3%;
}

.jumbotron {
    padding: 3% 1%;
    background-color: #e9ecef;
    border-radius: 0.5rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin: 0.5%;
    justify-content: space-evenly;
    border-radius: 15%;
}

.mainInfoCard {
    border-radius: 15%;
    vertical-align: middle;
    margin: 0%;
    padding: 4%;
}

.checked {
    color: orange;
}

.ratingInfo .written {
    color: orange;
}