.carouselMain{
    height: 650px;
 }
 .slider{
    width:300px !important;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    opacity: 0.8;
    box-shadow: #e73c7e;
    
 }
 .card-header{
    text-align: center;
 }
 .ok{
    margin-bottom:10px;
    margin-left:10px;
 }
 /* button {
background-color: transparent;
background-repeat: no-repeat;
border: none;
cursor: pointer;
overflow: hidden;
outline: none;
margin-bottom: 15px;
} */
button:hover{
background-color: #a309e0;
background-repeat: no-repeat;
border-radius: 20px;
cursor: pointer;
overflow: hidden;
outline: none;
}