<div class="leftbar">
  <div class="forlogo"><a href="/"><img src="/LOGO/newLOGOTest/newLOGO_no_background.png" width="150px" height="80px"></a></div>
  <div class="headingDash">SELLER DASHBOARD</div>
  <div class="menu">
    <div class="line"><hr></div>
    </div>
    <div class="dropdown2">
      <div id="drp" class="dropdown2-content">
        <!-- <p class="mm"></p> -->
        <ul>
          <li><a href="/dashboardSeller"><i class="fa-solid fa-list"></i> <span class="olmargin">DashBoard</span></a></li>
          <li><a href="/dashboardSeller/products"><i class="fa-solid fa-bag-shopping"></i><span class="olmargin">Products</span></a></li>
          <li><a href="/dashboardSeller/addproducts"><i class="fa-solid fa-bag-shopping"></i><span class="olmargin">Add Product</span></a></li>
          <li><a href="/"><i class="fa-solid fa-chart-line"></i><span class="olmargin">Statistics</span></a></li>
          <li><a href="/"><i class="fa-solid fa-sack-dollar"></i><span class="olmargin">Finance</span></a></li>
        </ul>
        <!-- <p class="mm">HELP & SUPPORT</p>
        <ul>
          <li><i class="fa-solid fa-info"></i><span class="olmargin">Help & Center</span></li>
          <li><i class="fa-solid fa-gear"></i><span class="olmargin">Settings</span></li>
          <li><i class="fa-solid fa-right-from-bracket"></i><span class="olmargin">LogOut</span></li>
        </ul> -->
        <button class="btn btn-info" style="margin-left: 5rem; margin-top: 8rem;">
          <i class="fa-solid fa-right-from-bracket"></i><span class="olmargin"></span>LogOut
        </button>
      </div>
    </div>
  </div>