<div class="leftbar">
  <div class="forlogo"><a href="/"><img src="/LOGO/newLOGOTest/newLOGO_no_background.png" width="150px" height="80px"></a></div>
  <div class="headingDash">SELLER DASHBOARD</div>
  <div class="menu">
    <div class="line"><hr></div>
    </div>
    <div class="dropdown2">
      <div id="drp" class="dropdown2-content">
        <!-- <p class="mm"></p> -->
        <ul>
          <a href="/dashboardSeller"><li><i class="fa-solid fa-gauge"></i> <span class="olmargin">DashBoard</span></li></a>
          <a href="/dashboardSeller/products"><li><i class="fa-solid fa-store"></i><span class="olmargin">Products</span></li></a>
          <a href="/dashboardSeller/addproducts"><li><i class="fa-solid fa-cart-plus"></i><span class="olmargin">Add Product</span></li></a>
          <a href="/"><li><i class="fa-solid fa-chart-simple"></i><span class="olmargin">Statistics</span></li></a>
          <a href="/"><li><i class="fa-solid fa-money-bill-1-wave"></i><span class="olmargin">Finance</span></li></a>
        </ul>
        <!-- <p class="mm">HELP & SUPPORT</p>
        <ul>
          <li><i class="fa-solid fa-info"></i><span class="olmargin">Help & Center</span></li>
          <li><i class="fa-solid fa-gear"></i><span class="olmargin">Settings</span></li>
          <li><i class="fa-solid fa-right-from-bracket"></i><span class="olmargin">LogOut</span></li>
        </ul> -->
        <a class="btn btn-info" href="/logout" style="margin-left: 5rem; margin-top: 8rem;">
          <i class="fa-solid fa-right-from-bracket"></i><span class="olmargin"></span>LogOut
        </a>
      </div>
    </div>
  </div>