<div class="leftbar">
  <div class="forlogo"><a href="/"><img src="/LOGO/newLOGOTest/newLOGO_no_background.png" width="150px" height="80px"></a></div>
  <div class="headingDash">ADMIN DASHBOARD</div>
  <div class="menu">
    <div class="line"><hr></div>
    </div>
    <div class="dropdown2">
      <div id="drp" class="dropdown2-content">
        <!-- <p class="mm"></p> -->
        <ul>
          <a href="/admin"><li><i class="fa fa-users"></i> <span class="olmargin">Users</span></li></a>
          <a href="/admin/influencers"><li><i class="fa-solid fa-users-rectangle"></i><span class="olmargin">Influencers</span></li></a>
          <a href="/admin/sellers"><li><i class="fa-solid fa-store"></i><span class="olmargin">Sellers</span></li></a>
          <a href="/admin/orderHistoryAdmin"><li><i class="fa-solid fa-chart-line"></i><span class="olmargin">Orders</span></li></a>
          <a href="/admin/complaints"><li><i class="fa-solid fa-book"></i><span class="olmargin">Complaints</span></li></a>
        </ul>
        <!-- <p class="mm">HELP & SUPPORT</p>
        <ul>
          <li><i class="fa-solid fa-info"></i><span class="olmargin">Help & Center</span></li>
          <li><i class="fa-solid fa-gear"></i><span class="olmargin">Settings</span></li>
          <li><i class="fa-solid fa-right-from-bracket"></i><span class="olmargin">LogOut</span></li>
        </ul> -->
        <a class="btn btn-info" href="/logout" style="margin-left: 5rem; margin-top: 8rem;">
          <i class="fa-solid fa-right-from-bracket"></i><span class="olmargin"></span>LogOut
        </a>
      </div>
    </div>
  </div>