<ul>
    <li>WhishLists</li>
    <li>Your Friends</li>
    <li>
      <form action="" class="w-100 lp">
        <input
        type="search"
        class="form-control"
        placeholder="Search for item in List"
        aria-label="Search"
        onclick="overlayOn()"
      />
      <button type="button" class="btn bg-secondary">
        <i class="fas fa-search ic"></i>
      </button>
    </form>


    </li>
    <li>
      Send
    </li>
    <li>Print</li>
    <li><div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by
      </a>
    
      <div class="dropdown-menu drpbgclr" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item i1" href="#">Purchased</a>
        <a class="dropdown-item i2" href="#">Unpurchased</a>
        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
      </div>
    </div></li>
    <li><div class="invitebtn"><div class="plus">+</div><div class="invite">Invite</div></li>
    <li>Create</li>
  </ul>

<!-- nav finish -->
