<div class="card" style="width: 18rem; height: 22rem;">
    <img class="card-img-top iimmgg" src="/Images/ProductImages/Shoes/shoes-removebg-preview.png" width="5rem" height="180rem" alt="Card image cap">
    <div class="card-body">
      <p class="ttl"><span>Shoes:Sports type</span>
      <span class="pricetag">$200</span></p>
      <p class="card-text">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star checked"></span>
        <span class="nopersonRated">11220</span>
      </p>
      <button type="button" class="btn btn-outline-warning btntxt">Add to cart</button>
      <button type="button" class="btn btn-outline-warning btntxt">Add to Wishlist</button>
    </div>
  </div>