<div class="row">
  <div class="col-lg-6">
    
  </div>
  <!-- <div class="col-lg-6">
    <table class="table text-sm">
      <tbody>
        <tr>
          <th class="text-uppercase fw-normal border-0">Weight</th>
          <td class="text-muted border-0">dolor sit amet </td>
        </tr>
        <tr>
          <th class="text-uppercase fw-normal ">Sunt in culpa qui</th>
          <td class="text-muted ">Lorem ipsum dolor sit amet </td>
        </tr>
        <tr>
          <th class="text-uppercase fw-normal ">Product #</th>
          <td class="text-muted ">Lorem ipsum dolor sit amet </td>
        </tr>
        <tr>
          <th class="text-uppercase fw-normal ">Available packaging</th>
          <td class="text-muted ">LOLDuis aute irure dolor in reprehenderit </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>