<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %>></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/css/sellDash.css">
  <!-- <link rel="stylesheet" href="/css/userDashboardStyle.css"> -->
 <style>
  .error{
    width: 100%;
    margin-top: 5px;
    display:block;
    position: relative;
    font-size: 13px;
    color:red;
}
 </style>
</head>

<body>
  <div class="outer">
    <%- include('../leftbar.ejs') %>
      <div class="navpluscards">
        <%- include('../sellerdashnavbar.ejs') %>
        <div class="addProductForm">
          <h1 class="headingDash mb-5 mt-5" style="text-decoration: underline;">Add Product</h1>
          <form action="/dashboardSeller/addproducts" method="post" id="form" class="form-group w-80">
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Product Name:">Product Name:</label>
                <input type="text" name="name" id="productName" class="form-control" onkeyup="validateproductname()" required>
                <span class="error"></span>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Short Description:">Short Description:</label>
                <input type="text" name="shortDesc" id="productShortDescription" class="form-control" required>
              </div>
            </div>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Product Category:">Product Category:</label>
                <input type="text" name="cate" class="form-control" required>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Product Brand:">Product Brand:</label>
                <input type="text" name="brand" id="productBrand" class="form-control" required>
              </div>
            </div>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Product Price:">Product Price:</label>
                <input type="text" name="price" id="productPrice" class="form-control" onkeyup="validatePrice()" required>
                <span class="error"></span>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Stock Quantity:">Stock Quantity:</label>
                <input type="text" name="stockQuantity" id="stockQuantity" class="form-control" onkeyup="validateStock()" required>
                <span class="error"></span>
              </div>
            </div>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Discount Percentage:">Discount Percentage:</label>
                <input type="text" name="discount" id="discountPercentage" class="form-control" onkeyup="validatePercentage()" required>
                <span class="error"></span>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Discount Price:">Discount Price:</label>
                <input type="text" name="discountedPrice" id="discountedPrice" class="form-control" disabled>
              </div>
            </div>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Description:">Description:</label>
                <input type="textarea" name="description" id="productDescription" class="form-control" required>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Images:">Images URL:</label>
                <input type="text" name="imageURL" class="form-control" id="producImages" required>
              </div>
            </div>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Tags:">Tags:</label>
                <input type="text" name="tags" class="form-control" id="tagsed" onkeyup="validatetags()" required>
                <span class="error"></span>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Colors:">Colors:</label>
                <input type="text" name="colors" id="colors" class="form-control" required>
              </div>
            </div>

            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Tags:">Weight in KG:</label>
                <input type="text" name="Weight" id="weight" class="form-control" onkeyup="validateweight()" required>
                <span class="error"></span>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Length:">Length:</label>
                <input type="text" name="Length" id="length" class="form-control" onkeyup="validatelength()" required>
                <span class="error"></span>
              </div>
            </div>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Breadth:">Width:</label>
                <input type="text" name="Width" id="width" class="form-control" onkeyup="validatewidth()" required>
                <span class="error"></span>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Height:">Height:</label>
                <input type="text" name="Height" id="height" class="form-control" onkeyup="validateheight()" required>
                <span class="error"></span>
              </div>
            </div>
            <h3 style="margin-left: 8%;">Services</h3>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Breadth:">Free Delivery Eligible:</label>
                <input type="checkbox" name="service0">
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Height:">30 Days Return Policy:</label>
                <input type="checkbox" name="service1">
              </div>
            </div>
            <div class="row mb-3" style="margin-left: 4vw;">
              <div class="col-sm-5">
                <label for="Breadth:">Cash On Delivery:</label>
                <input type="checkbox" name="service2">
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <label for="Height:">Premium Quality Assurance:</label>
                <input type="checkbox" name="service3">
              </div>
            </div>

            <button class="btn btn-info mt-5" type="submit" style="margin-left: 45%; width: 12%;" id="btn-submit">Submit</button>
          </form>
        </div>
      </div>
  </div>
  <!-- <script src="./js/sellerDash/add_product.js"></script> -->
  <!-- <script>
    const form = document.getElementById('form');
form.addEventListener('submit', function (event) {
  event.preventDefault();

  const productName = document.getElementById('productName').value;
  const productShortDescription = document.getElementById('productShortDescription').value;
  // const productCategory = document.getElementById('productCategory').value;
  const productBrand = document.getElementById('productBrand').value;
  const productPrice = document.getElementById('productPrice').value;
  const stockQuantity = document.getElementById('stockQuantity').value;
  const discountPercentage = document.getElementById('discountPercentage').value;
  const productDescription = document.getElementById('productDescription').value;
  // const productTags = document.getElementById('productTags').value;
  const colors = document.getElementById('colors').value;
  
 
if (productName === '') {
    showError('Please enter a product name.', 'productName');
    return;
  } 
  

if (!/^[a-zA-Z]+$/.test(productName)) {
    showError('Product name should start with alphabets', 'productName');
    return;
  }
  

  
  if (productShortDescription === '') {
    showError('Please enter a short description.', 'productShortDescription');
    return;
  }
  
  
if (!/^[a-zA-Z]+$/.test(productName)) {
    showError('Product name should start with alphabets and end with numbers.', 'productName');
    return;
  }
  




  // if (productCategory === '') {
  //   showError('Please select a category.', 'productCategory');
  //   return;
  // }

  // if (!/^[a-zA-Z]+$/.test(productCategory)) {
  //   showError('Product Categorry  should start with alphabets', 'productCategory');
  //   return;
  // }
  
  if (productBrand === '') {
    showError('Please enter a brand name.', 'productBrand');
    return;
  }
  
  if (productPrice === '') {
    showError('Please enter a price.', 'productPrice');
    return;
  }

  if (isNaN(productPrice)) {
    showError('Please enter a valid number.', 'productPrice');
    return;
  }
  
  if (stockQuantity === '') {
    showError('Please enter the stock quantity.', 'stockQuantity');
    return;
  }
  


if (productDescription.trim() === '' || productDescription.length < 10) {
    showError('Please enter a product description with at least 10 characters.', 'productDescription');
    return;
  }
  

  // if (productTags.trim() === '' || !productTags.includes(',')) {
  //   showError('Please enter at least one product tag (separated by commas).', 'productTags');
  //   return;
  // }
  

  // if (colors.trim() === '' || !colors.includes(',')) {
  //   showError('Please enter at least one product color (separated by commas).', 'colors');
  //   return;
  // }
  



  if (isNaN(productPrice) || isNaN(discountPercentage)) {
    showError('Please enter a valid number for the price and discount percentage.', 'productPrice');
    return;
  }
  
if (!/^\d+$/.test(stockQuantity) || !/^\d+$/.test(discountPercentage)) {
    showError('Please enter a positive integer for the stock quantity and discount percentage.');
    return;
  }
  
  
  if (discountPercentage < 0 || discountPercentage > 100) {
    showError('Please enter a discount percentage between 0 and 100.', 'discountPercentage');
    return;
  }
  


  alert('Form submitted successfully!');
  form.submit();
  
});


function showError(message, inputName) {
    const input = document.getElementById(inputName);
    const errorDiv = input.parentElement.querySelector('.error');
    if (!errorDiv) {
      const errorDiv = document.createElement('div');
      errorDiv.className = 'error';
      errorDiv.style.color = 'red';
      errorDiv.appendChild(document.createTextNode(message));
      input.parentElement.appendChild(errorDiv);
      setTimeout(() => {
        errorDiv.remove();
      }, 5000);
    } else {
      errorDiv.textContent = message;
    }
  }

  </script> -->
  <script src="/js/addproduct.js"></script>
</body>
</html>