<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginform.css">
    <title><%=pageTitle%></title>
</head>
<body>
    

    <div class="LoginCard">
        <div class="img-container">
            <img src="/Images/Login/loginimg.jpg" alt="" style="object-fit: cover;">
        </div>
        <div class="form-container">
            <h1>
            <div class='welcome'>
                <div class="loader" style="font-size: larger;">
                  <span>L</span>
                  <span>o</span>
                  <span>g</span>
                  <span>i</span>
                  <span>n</span>
                </div>
              </div>
            </h1>

            <div class="btn btn-info disabled">
            </div>
          <form action="/login" method="post" id="loginForm">
                <div class="emaildiv posirel">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Email" onkeyup="validateEmail()" onblur="checkEmail()" required>
                    <span class="error"></span>
                    <span id="errorFrontEnd" class="error2"></span>
                </div>
                <div class="passdiv posirel">
                    <i class="fa-regular fa-eye"></i>
                    <input type="password" id="pass" name="password" placeholder="Password" onkeyup="validatePassword()" required>
                    <span class="error"></span>
                </div>
                <button type="submit" id="btn-submit">Login</button>
                <br>
                <a href="/"> Go Back </a>
            </form>
            
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>