<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main_navbar.css">
    <!-- <link rel="stylesheet" href="/css/LowerNavbarStyle.css"> -->
    <link rel="stylesheet" href="/css/newpage.css">
    <link rel="stylesheet" href="/css/product-card-scroll.css">
    <link rel="stylesheet" href="/css/product-card-scroll-2.css">

    <script src="https://kit.fontawesome.com/72fdfa8245.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--for main page-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/js/wishscript.js"></script>
    <title></title>
</head>

<body style="background-color: white;">
    <header>
        <%- include('partials/Navbars/nav1.ejs') %>
            <%- include('partials/Navbars/nav2.ejs') %>
                <div id="header-hero">
                    <div class="header-bg"> <img src="./Images/header/434848.jpg" alt="header-image"
                            style="height: 80vh; object-fit: fill;"> </div>
                    <div class="header-content">
                        <p class="heading-1">Hiking | Trekking | Camping</p>
                        <h1>welcome to <a href="/"><span class="logo-style"> RUGGED</span> </a> </h1>
                        <p class="description">Here your dreams can fly, swim and camp with safety of our products and
                            quality assurance of the best and most qualified experts of the world.</p>
                        <a href="/search?q=shoe" class="btn btn-info"
                            style="width: 14vw; height: auto; font-size: larger;"> Shop Now </a>

                    </div>
                </div>
    </header>
    <section id="summer-collection">
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex flex-inline">
                            <div class="sc-content">
                                <h1>Backpacks & Clothes</h1>
                                <p class="description">Our website offers high-quality clothes and backpacks for hiking
                                    and trekking. Our clothes are made with breathable and moisture-wicking fabrics,
                                    ensuring comfort on the trails. Our backpacks are designed with sturdy straps and
                                    compartments to carry your essentials. Trust us to provide reliable gear for your
                                    next outdoor adventure. Shop now to experience the difference in quality.</p>
                                <a href="/">discover now</a>
                            </div>
                            <div class="sc-media">
                                <div class="sc-media-bg"> <img src="/Images/winterCollection/1.avif" alt="sc-image"
                                        style="height: 35vw; object-fit:cover;" /> </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="d-flex flex-inline">
                            <div class="sc-content">
                                <h1>Tents & Camp Tools</h1>
                                <p class="description">We offer durable tents and camp tools for outdoor enthusiasts.
                                    Our weather-resistant tents provide comfortable shelter, while our high-quality
                                    tools, such as knives, flashlights, and cooking utensils, ensure a successful
                                    camping experience. Our products are built to last and made with the best materials,
                                    making us the go-to brand for reliable outdoor gear. Explore our collection now.</p>
                                <a href="/">discover now</a>
                            </div>
                            <div class="sc-media">
                                <div class="sc-media-bg"> <img src="/Images/winterCollection/2.avif" alt="sc-image"
                                        style="height: 35vw; object-fit:cover;" /> </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="d-flex flex-inline">
                            <div class="sc-content">
                                <h1>Gadgets & Hiking Tools</h1>
                                <p class="description">We offer durable hiking tools and gadgets to enhance your outdoor
                                    experience. From trekking poles to GPS devices, our gear is made with innovative
                                    technology for confidence on any terrain. Our accessories include water bottles,
                                    headlamps, and first aid kits for safety and comfort. Shop now to discover the
                                    latest hiking gear.</p>
                                <a href="/">discover now</a>
                            </div>
                            <div class="sc-media">
                                <div class="sc-media-bg"> <img src="/Images/winterCollection/3.jpg" alt="sc-image"
                                        style="height: 35vw; object-fit:cover;" /> </div>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </section>
    <section id="products">
        <div class="container">
            <div class="products-header">
                <h2>popular products</h2>
                <p>Check out our popular products: durable backpacks, weather-resistant tents, and high-tech gadgets.</p>
            </div>
            <div class="product product-1">
                <figure> <img src="./Images/popularProduct/1.jpg" alt="product-image">
                    <figcaption>Backpacks</figcaption>
                    <figcaption>Starting At ₹ 500</figcaption>
                </figure>
            </div>
            <div class="product product-2">
                <figure> <img src="./Images/popularProduct/2.jpg" alt="product-image">
                    <figcaption>Tents</figcaption>
                    <figcaption>Starting At ₹ 840</figcaption>
                </figure>
            </div>
            <div class="product product-3">
                <figure> <img src="./Images/popularProduct/3.jpg" alt="product-image">
                    <figcaption>Hiking Tools</figcaption>
                    <figcaption>Starting At ₹ 900</figcaption>
                </figure>
            </div>
            <div class="product product-4">
                <figure> <img src="./Images/popularProduct/4.jpg" alt="product-image">
                    <figcaption>Medical Kits</figcaption>
                    <figcaption>Starting At ₹ 400</figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section id="collections">
        <div class="container">
            <div class="c-1">
                <div class="c-1-image-holder"> <img src="/Images/ProductImages/Rucksack1/image1.jpg" alt="image"> </div>
            </div>
            <div class="c-2">
                <h2>featured collection</h2>
                <hr />
                <div class="c-2-image-holder"> <img class="left" src="/Images/ProductImages/Rucksack1/image4.jpg"
                        alt=""><img class="right" src="/Images/ProductImages/Rucksack2/Rucksack2_image3.jpg" alt="">
                </div>
                <p class="button">view all collections</p>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="blog-header">
                <h2>latest from blog</h2>
                <p>Explore our blog for expert tips and inspiring stories on outdoor adventures.</p>
            </div>
            <div class="blog-content">
                <div class="blog-1">
                    <div class="blog-1-image-holder"> <img src="./Images/popularProduct/5.jpg" alt="blogPostImage" style="height: 12vw; width: auto; object-fit: fill;">
                    </div>
                    <div class="blog-1-content">
                        <h4>Poorv Kumar</h4>
                        <h3>Excellent Camp Tools</h3>
                        <p class="description">My hiking trip to Guwahati was made easier thanks to the reliable camp tools I purchased from RUGGED store.</p>
                        <a href="/"><p class="button">view post</p></a>
                    </div>
                </div>
                <div class="blog-2">
                    <div class="blog-2-image-holder"> <img src="./Images/popularProduct/6.jpg" alt="blogPostImage" style="height: 12vw; width: auto; object-fit: fill;">
                    </div>
                    <div class="blog-2-content">
                        <h4>Divyank Khajuria</h4>
                        <h3>High Quality Fishing Rods</h3>
                        <p class="description">I recently caught my biggest fish yet using the high-quality fishing rod I purchased from our ecommerce store.</p>
                        <a href="/"><p class="button">view post</p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/Navbars/footer.ejs') %>
</body>

</html>