<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search Page</title>
</head>

<body>
<%- include('partials/Navbars/navbarHeader.ejs') %>
<%- include('partials/Navbars/UpperNavbar.ejs') %>
<%- include('partials/Navbars/MiddleNavbar.ejs') %>
<%- include('partials/Navbars/LowerNavbar.ejs') %>

</body>
</html>