<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/signUp.css">
	<title>SignUp</title>
</head>
<body>
	

<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome' >Hello There!</div>
      <div class='subtitle'></div>
      <form action="/" method="post">
      <div class='input-fields'>
        <input type='email' name="email" placeholder='Email' class='input-line full-width'></input>
        <input type='text' name="fnamme" placeholder='First Name' class='input-line full-width'></input>
        <input type='password' placeholder='Password' class='input-line full-width'></input>
      </div>
      <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
      <div><button class='ghost-round full-width'>Create Account</button></div>
    </div>
  </form>
  </div>
</div>
</body>
</html>