.about-page {
	margin: 0 auto;
	max-width: 800px;
}
a{
	padding: 1rem;
	background-color: #29abfc;
	text-decoration: none;
	border-radius: 0.5rem;
	color: white;
}
.header {
	background-color: #29abfc;
	padding: 20px;
	text-align: center;
}

.form {
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px #E0E0E0;
	margin-bottom: 20px;
}

.footer {
	background-color: #F8F8F8;
	padding: 20px;
	text-align: center;
}

h1, h2, p {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
	font-weight: bold;
}

input, select, textarea {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid black;
}

button {
	background-color: #29abfc;
	text-align:center;
	width: 100px;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #003097;
}

input[type="file"] {
	margin-top: 10px;
}

textarea {
	resize: vertical;
}

/* contactUs.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9));
}

/* Header Styles */
header {
    background: rgba(39, 166, 230, 0.9);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Container Styles */
.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Header in Container Styles */
.header {
    background: rgba(39, 166, 230, 0.9);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Form Styles */
.form {
    padding: 20px;
    color: #333; /* Text color for form elements */
}

/* Form Label Styles */
label {
    display: block;
    margin-bottom: 5px;
}

/* Form Input Styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Form Button Styles */
button[type="submit"] {
    background: rgba(39, 166, 230, 0.9);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background: rgba(50, 211, 206, 0.9);
}

/* Go Back Link Styles */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: rgba(50, 211, 206, 0.9);
}

a:hover {
    text-decoration: underline;
}
