@import url("https://fonts.googleapis.com/css?family=Lato");
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background-color: #ffffff;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

#header-hero {
	width: 100%;
	display: block;
	position: relative;
}

#header-hero .header-bg {
	width: 100%;
	height: auto;
	background-color: rgb(109 213 255);
}

#header-hero .header-bg img {
	width: 100%;
	height: auto;
}

#header-hero .header-content {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0%;
	text-align: center;
	color: #f2f2f2;
	padding: 0rem 0.4rem;
}

#header-hero .header-content p.heading-1 {
    text-transform: uppercase;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3vh;
    padding-top: 5vh;
    text-shadow: 3px 3px 4px black;
}

#header-hero .header-content h1 {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 3.5vh;
	text-shadow: 3px 5px 8px black;
}

#header-hero .header-content h1 .logo-style {
    color: #40c5f4;
    font-style: italic;
}

#header-hero .header-content p.description {
    margin: 1.75rem auto;
    width: 75%;
    font-family: Cambria;
    font-size: 1.6rem;
    font-style: italic;
    text-shadow: 3px 3px 2px black;
    margin-bottom: 3rem;
}

#header-hero .header-content .button {
	margin: 0 auto;
	background-color: #14a69f;
	-webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	width: 10rem;
	padding: 0.8rem;
}

#header-hero .header-content .button p {
	font-family: Cambria;
	font-size: 1rem;
	font-weight: 400;
	text-align: justify;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

@media only screen and (max-width: 1440px) {
	#header-hero .header-content p.description {
		width: 40%;
		margin-bottom: 3rem;
		font-size: 1.2rem;
	}
	#header-hero .header-content p.heading-1 {
		padding-top: 8vw;
	}
}

@media only screen and (max-width: 1024px) {
	#header-hero .header-bg {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	#header-hero .header-bg img {
		width: 100rem;
		height: 40rem;
		margin-left: -50%;
	}
	#header-hero .header-content p.heading-1 {
		padding-top: 20vw;
	}
	#header-hero .header-content p.description {
		width: 60%;
		margin-bottom: 4rem;
	}
}

@media only screen and (max-width: 480px) {
	#header-hero .header-content h1 {
		font-size: 2rem;
		padding: 1rem 0rem;
	}
	#header-hero .header-bg img {
		width: 100rem;
		height: 40rem;
		margin-left: -140%;
	}
	#header-hero .header-content p.description {
		width: 50%;
		margin-bottom: 3rem;
		text-align: left;
	}
	#header-hero .header-content .button {
		width: 8rem;
		padding: 0.6rem;
	}
	#header-hero .header-content .button p {
		font-size: 0.8rem;
	}
}

#summer-collection {
	width: 100%;
	display: block;
	margin: 6rem 0rem;
}

#summer-collection .container {
	margin: 0 auto;
	width: 80%;
	/* background-color: #3bdef0; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#summer-collection .container .sc-content {
	width: 60%;
	padding-top: 3.4rem;
	padding-right: 3rem;
	padding-bottom: 2rem;
}

#summer-collection .container .sc-content h1 {
    color: #3295cf;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    line-height: 6rem;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

#summer-collection .container .sc-content p.description {
	font-family: Cambria;
	color: rgba(89, 89, 89, 0.8);
	font-size: 1rem;
	font-style: italic;
	line-height: 2rem;
	margin-bottom: 4vw;
	padding-right: 4rem;
}

#summer-collection .container .sc-content a {
    border-bottom: 2px solid #58bcdc;
    text-decoration: none;
    font-family: "Franklin Gothic Medium";
    color: #27b4d4;
    font-weight: 400;
    text-transform: uppercase;
}

#summer-collection .container .sc-media {
	width: 40vw;
}

#summer-collection .container .sc-media .sc-media-bg {
	width: 100%;
	height: auto;
	padding-top: 3vw;
}

#summer-collection .container .sc-media .sc-media-bg img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 1024px) {
	#summer-collection {
		width: 100vw;
		display: block;
		margin-top: 0rem;
	}
	#summer-collection .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#summer-collection .container .sc-content {
		width: 80vw;
		padding: 8rem 2rem 2rem;
	}
	#summer-collection .container .sc-media {
		width: 80vw;
	}
	#summer-collection .container .sc-content h1 {
		font-size: 5.6vw;
		letter-spacing: 1rem;
		line-height: 4rem;
	}
}

@media only screen and (max-width: 768px) {
	#summer-collection .container .sc-content h1 {
		font-size: 5.6vw;
		letter-spacing: 0.6rem;
		line-height: 2.4rem;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 480px) {
	#summer-collection .container .sc-content p.description {
		font-size: 1rem;
		line-height: 1.8rem;
		margin-bottom: 4vw;
		padding-right: 1.2rem;
		text-align: justify;
		margin-bottom: 2rem;
	}
}

#products {
	width: 100%;
}

#products .container {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-size: 0;
}

#products .container .products-header {
	font-size: 16px;
	text-align: center;
	margin-bottom: 3rem;
}

#products .container .products-header h2 {
	padding: 2rem 1rem;
	text-transform: uppercase;
	font-family: "Franklin Gothic Medium";
	color: #000000;
	font-size: 1.875rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	line-height: 1;
	text-align: center;
}

#products .container .products-header p {
	font-family: Cambria;
	color: rgba(89, 89, 89, 1);
	font-size: 1rem;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}

#products .container .product {
	width: 25%;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding: 1.8rem;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#products .container .product:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.8;
	-webkit-transition: opacity 800ms ease-in-out 0s;
	transition: opacity 800ms ease-in-out 0s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0s;
	transition: -webkit-transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
	cursor: pointer;
}

#products .container .product figure img {
	width: 100%;
	height: auto;
}

#products .container .product figure figcaption {
	font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
	#products .container .product {
		width: 50%;
		padding: 3rem;
	}
}

@media only screen and (max-width: 768px) {
	#products .container .product {
		width: 50%;
		padding: 2rem;
	}
}

@media only screen and (max-width: 480px) {
	#products .container .product {
		width: 100%;
	}
}

#collections {
	width: 100%;
	display: block;
	margin: 6rem 0rem;
	/*  background-color:  #f5f2f1;*/
	padding: 1.4rem 0rem;
}

#collections .container {
	margin: 0 auto;
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#collections .container .c-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 3rem 0rem 0rem 1rem;
	/*  background-color:  #f5f2f1;*/
}

#collections .container .c-1 .c-1-image-holder {
	width: 100%;
	height: auto;
}

#collections .container .c-1 .c-1-image-holder img {
	width: 100%;
	height: auto;
}

#collections .container .c-2 .c-2-image-holder {
	width: 45%;
	height: auto;
	margin: 3rem auto;
}

#collections .container .c-2 .c-2-image-holder img {
	width: 100%;
	height: auto;
}

#collections .container .c-2 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 1rem;
	/*  background-color:  #f5f2f1;*/
}

#collections .container .c-2 h2 {
	padding: 1rem 0rem;
	text-align: right;
	font-family: "Franklin Gothic Medium";
	font-size: 1.8rem;
	letter-spacing: 0.094rem;
	text-transform: uppercase;
}

#collections .container .c-2 hr {
	width: 30%;
	margin-left: 70%;
	display: block;
	height: 1px;
	border: 0;
	border-top: 0.1rem solid #28c3d7;
	padding: 0;
	margin-bottom: 4rem;
}

#collections .container .c-2 p.button {
	background-color: #8fe6e2;
	-webkit-box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
	box-shadow: 0px 1px 3.92px 0.08px rgba(204, 204, 153, 0.35);
	width: 45%;
	text-align: center;
	padding: 0.8rem 0.2rem;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 0.7rem;
	margin: 0 auto;
	margin-right: -1%;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

#collections .container .c-2 p.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #8fbbe6;
	-webkit-transition: background-color 1s ease-in-out 0s;
	-o-transition: background-color 1s ease-in-out 0s;
	transition: background-color 1s ease-in-out 0s;
	-webkit-transition: color 400ms ease-in-out 0s;
	-o-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

#collections .container .c-2 .left {
	position: relative;
	right: -6rem;
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

#collections .container .c-2 .right {
	position: relative;
	top: -2rem;
	right: 2rem;
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1024px) {
	#collections .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#collections .container .c-1 {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 4rem 0rem 0rem 0rem;
	}
	#collections .container .c-2 .c-2-image-holder {
		width: 50%;
		height: auto;
		margin: 3rem auto;
	}
}

@media only screen and (max-width: 768px) {
	#collections .container .c-2 .c-2-image-holder {
		width: 70%;
		height: auto;
		margin: 3rem auto;
	}
	#collections .container .c-2 .left {
		position: relative;
		right: 0rem;
		margin-bottom: 2rem;
	}
	#collections .container .c-2 .right {
		position: relative;
		top: 0rem;
		right: 0rem;
	}
	#collections .container .c-2 p.button {
		width: 60%;
		padding: 0.8rem 2rem;
	}
}

#blog {
	width: 100%;
	display: block;
	margin: 6rem 0rem 0rem;
	background-color: rgb(106, 209, 218);
	padding: 3rem 0rem 6rem;
}

#blog .container {
	margin: 0 auto;
	width: 80%;
	background-color: #cce4e8;
}

#blog .container .blog-header {
	text-align: center;
	margin-bottom: 3rem;
}

#blog .container .blog-header h2 {
	padding: 2rem 1rem;
	text-transform: uppercase;
	color: rgb(77, 192, 221);
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	line-height: 1;
	text-align: center;
}

#blog .container .blog-header p {
    font-family: Cambria;
    color: rgb(17 20 20);
    font-size: 1rem;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0px 1px.5px black;
}

#blog .container .blog-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#blog .container .blog-content .blog-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem 0rem;
	padding-left: 5%;
}

#blog .container .blog-content .blog-1 .blog-1-image-holder {
	width: 45%;
	height: auto;
	font-size: 16px;
}

#blog .container .blog-content .blog-1 .blog-1-image-holder img {
	width: 100%;
	height: auto;
}

#blog .container .blog-content .blog-1 .blog-1-content {
	width: 50%;
	background-color: #aadee4;
	margin-left: -10%;
	margin-top: 4%;
	padding: 4%;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
	opacity: 0.95;
}

#blog .container .blog-content .blog-1 .blog-1-content h4 {
	text-transform: uppercase;
	color: #000000;
	font-weight: 400;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

#blog .container .blog-content .blog-1 .blog-1-content h3 {
	text-transform: uppercase;
	padding-bottom: 6%;
}

#blog .container .blog-content .blog-1 .blog-1-content p.description {
	font-family: Cambria;
	font-style: italic;
	padding-bottom: 8%;
}

#blog .container .blog-content .blog-1 .blog-1-content p.button {
	width: 50%;
	text-align: center;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 500;
	padding: 4%;
	color: #fff;
	background-color: rgb(68 241 239 / 80%);
	-webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

#blog .container .blog-content .blog-1 .blog-1-content p.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: rgba(20, 39, 166, 0.8);
	-webkit-transition: background-color 1s ease-in-out 0s;
	-o-transition: background-color 1s ease-in-out 0s;
	transition: background-color 1s ease-in-out 0s;
	-webkit-transition: color 400ms ease-in-out 0s;
	-o-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

#blog .container .blog-content .blog-2 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem 0rem;
	padding-left: 5%;
}

#blog .container .blog-content .blog-2 .blog-2-image-holder {
	width: 45%;
	height: auto;
}

#blog .container .blog-content .blog-2 .blog-2-image-holder img {
	width: 100%;
	height: auto;
}

#blog .container .blog-content .blog-2 .blog-2-content {
	width: 50%;
	background-color: #aadee4;;
	margin-left: -10%;
	margin-top: 4%;
	padding: 4%;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
	opacity: 0.95;
}

#blog .container .blog-content .blog-2 .blog-2-content h4 {
	text-transform: uppercase;
	color: #000000;
	font-weight: 400;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

#blog .container .blog-content .blog-2 .blog-2-content h3 {
	text-transform: uppercase;
	padding-bottom: 6%;
}

#blog .container .blog-content .blog-2 .blog-2-content p.description {
	font-family: Cambria;
	font-style: italic;
	padding-bottom: 8%;
}

#blog .container .blog-content .blog-2 .blog-2-content p.button {
	width: 50%;
	text-align: center;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 500;
	padding: 4%;
	color: #fff;
	background-color: rgb(68 241 239 / 80%);
	-webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

#blog .container .blog-content .blog-2 .blog-2-content p.button:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: rgba(20, 39, 166, 0.8);
	-webkit-transition: background-color 1s ease-in-out 0s;
	-o-transition: background-color 1s ease-in-out 0s;
	transition: background-color 1s ease-in-out 0s;
	-webkit-transition: color 400ms ease-in-out 0s;
	-o-transition: color 400ms ease-in-out 0s;
	transition: color 400ms ease-in-out 0s;
}

@media only screen and (max-width: 1024px) {
	#blog .container .blog-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#blog .container .blog-content .blog-1 {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		margin-bottom: 8%;
	}
	#blog .container .blog-content .blog-2 {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	#blog .container .blog-content .blog-1 .blog-1-image-holder {
		width: 45%;
		height: auto;
		font-size: 16px;
		margin-left: 5%;
	}
	#blog .container .blog-content .blog-2 .blog-2-image-holder {
		width: 45%;
		height: auto;
		font-size: 16px;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 480px) {
	#blog .container .blog-content .blog-1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#blog .container .blog-content .blog-1 .blog-1-image-holder {
		width: 100%;
		height: auto;
	}
	#blog .container .blog-content .blog-1 .blog-1-image-holder {
		margin-left: 0%;
	}
	#blog .container .blog-content .blog-1 .blog-1-content {
		width: 100%;
		margin-left: 0%;
		margin-top: -1%;
		padding: 8%;
	}
	#blog .container .blog-content .blog-1 .blog-1-content p.button {
		font-size: 0.6rem;
		padding: 4%;
	}
	#blog .container .blog-content .blog-2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#blog .container .blog-content .blog-2 .blog-2-image-holder {
		width: 100%;
		height: auto;
	}
	#blog .container .blog-content .blog-2 .blog-2-image-holder {
		margin-left: 0%;
	}
	#blog .container .blog-content .blog-2 .blog-2-content {
		width: 100%;
		margin-left: 0%;
		margin-top: -1%;
		padding: 8%;
	}
	#blog .container .blog-content .blog-2 .blog-2-content p.button {
		font-size: 0.6rem;
		padding: 4%;
	}
}

/* #contact {
	width: 100%;
	height: auto;
	background-color: #e6b58f;
}

#contact .container {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding-bottom: 2rem;
	text-transform: capitalize;
}

#contact .container h4 {
	font-family: "Franklin Gothic Medium";
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0.056rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

#contact .container p {
	font-family: Cambria;
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.044rem;
	text-align: center;
	padding: 0.2rem 0rem;
}

#contact .container p.email {
	margin: 0 auto;
	margin-top: 16rem;
	border-bottom: 1px solid white;
	text-align: left;
	width: 40%;
}

#contact .container p.email span {
	width: 17px;
	height: 15px;
	float: right;
}

#contact .container p.email span img {
	width: 17px;
	height: auto;
}

@media only screen and (max-width: 800px) {
	#contact .container p.email {
		width: 90%;
	}
} */

/* footer {
	background-color: #595959;
	font-size: 0;
	padding: 1.6rem 0rem;
	width: 100%;
}

footer p {
	font-family: Corbel;
	color: #f5f2f1;
	font-weight: 400;
	font-size: 16px;
	width: 10%;
	display: inline-block;
	text-align: center;
}

footer .copy-right {
	width: 80%;
	text-align: left;
	padding-left: 4rem;
}

@media only screen and (max-width: 920px) {
	footer p {
		width: 100%;
		text-align: center;
		margin-bottom: 0.4rem;
	}
	footer .copy-right {
		width: 100%;
		text-align: center;
		margin-left: -2.2rem;
	}
}

.back-to-top {
	padding: 1rem;
	position: fixed;
	bottom: 8%;
	right: 2%;
	z-index: 2;
	opacity: 0.2;
	background-color: rgba(255, 255, 255, 0);
}

.back-to-top:hover {
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 1;
} */
