body{
    background-color: #f8f9fa;
}
.smallbox{
    display:flex;
    margin:0%;
    padding:4%;
}
.surrbox{
    display:flex;
    flex-direction: column;
    max-width:29%;
    padding:0%;
    border:ridge 0.1px grey;
    background-color: rgb(219, 217, 214);
    border-radius:1%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size:18px;
    margin:2% 0%;
}
.post-titleU:hover{
    color:burlywood;
}
.activebox{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: aliceblue;
}
.smallbox h2{
    margin:2%;
    color:grey;
}
.smallbox a{
    margin:2% 6%;
}
.carousel-slides{
    display:flex;
}
.smallbox:hover{
    cursor: pointer;
}
.carousel-inner{
    max-width: 58%;
    padding:0%;
    border:ridge 1px grey;
    border-radius:1%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin:2% 0% 2% 5%;
    background: url('Images/services/toomas-tartes-Yizrl9N_eDA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-content,.ok{
    color:whitesmoke;
    /* position:absolute;
    bottom:0;
    left:0; */
}
hr{border: 0;
  clear:both;
  display:block;
  width: 222%;               
  background-color:black;
  height: 1px;}

.carousel-content{
    position:absolute;
    bottom:6%;
    left:3%; 
}
.contentblog{
    margin:2% 2% 2% 5%;
}
.post-date{
    color:burlywood;
    font-weight: 600;
}
.post-title:hover,.read-more:hover,.onenn:hover,.lpst-content h6:hover,.one-social-info i:hover{
    color:burlywood;
}
.fa-regular{
    margin:0 0 0 4%;
}
.namek,.onenn{
    font-weight: 500;
}
.namek:hover{
    color:burlywood;
}
.byk,.fa-regular,.read-more{
    color:grey;
    font-style: italic;
    font-weight: 500;
    opacity: 55%;
}
.post-meta{
    margin:4% 5% 5% 0%;
}
.post-data{
    color:rgb(106, 104, 104);
}
.read-more{
    color:grey;

}
.one-title,.one-thumbnail,.one-text-area,.one-social-info{
    text-align: center;
}
.post-side-area{
    max-width: 100%;
    
}
.one-social-info i{
    margin:3%;
}
.one-latest-post{
    margin:10% 10% 10% 10%;
}
.lpst-content{
    margin:2% 0% 2% 8%;
}
@media(max-width:900px){
      .thumnail img{
          width:250px;
          height:250px;
      }
      .post-meta{
        font-size: smaller;
      }
      .post-date{
        font-size: small;
      }
      .post-title h4{
        font-size: medium;
      }
      .post-data,.read-more{
        font-size: medium;
      }
      .surrbox,.carousel-content{
        font-size:10px
      }
      .surrbox,.carousel-content h2{
        font-size: 10px;
      }
}
@media(max-width:600px){
    .thumnail img{
        width:150px;
        height:150px;
    }
    .post-date{
        font-size: smaller;
      }
    .post-title h4{
        font-size: small;
      }
      .post-meta{
        font-size: smaller;
      }
      .post-data,.read-more{
        font-size: small;
      }
      .surrbox,.carousel-content{
        font-size:5px
      }
      .surrbox,.carousel-content h2{
        font-size: 5px;
      }
}