.leftTextNavbar{
    display: inline;
    padding: 0;
    margin: 0;
    opacity: 50% !important;
    font-size: small;
    color: black;
    font-weight: bold;
    margin-left: 1rem;
}
.SPnavbar{
    padding: 0;
    background-color: rgb(203, 202, 202);
}
.SPnavbar-btn{
    max-height: 2rem !important;

    padding: 2%;
    margin: 2% 5% 2% 2%;
    background-color: transparent;
    font-size: small;
}