.leftTextNavbar{
    display: inline;
    padding: 0;
    margin: 0;
    opacity: 50% !important;
    font-size: small;
    color: white;
    font-weight: bold;
}
.SPnavbar{
    padding: 0;
    background-color: rgb(203, 202, 202);
}
.SPnavbar-btn{
    max-height: 2rem !important;

    padding: 2%;
    margin: 2% 5% 2% 2%;
    background-color: aliceblue;
}