.navbar-color {
    background: linear-gradient(to right, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9));
    /* background-color: rgba(39, 166, 230, 0.9); */
}

body
{
    overflow-x: hidden;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

.input-group:focus-within {
    outline: rgb(121, 21, 204) solid 4px !important;
    border-radius: 6px;
}

.nav-main {
    background-color: #030b13;
    background: linear-gradient(to right, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9));
    height: 72.5px !important;
    border-bottom: 1pt solid rgba(50, 165, 211, 0.9);
}

.nav-link {
    font-weight: bold !important;
    color: aliceblue;
    border: 2px solid transparent;
    /* same color as nav-main */
    padding: 1px 2px;
    max-width: fit-content;
    height: 6.78%;
    margin-inline: 5%;
    margin: 0% 2% 0% 2%;
}

.nav-link:hover {
    border-color: aliceblue;
    color: aliceblue;
}

.nav-line-1 {
    font-size: small;
    font-stretch: expanded;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#brand-line-2 {
    color: aliceblue;
    font-size: 5px;
}

.dropdown:hover {
    display: block;
}

.nav-sec {
    margin-top: 72.5px !important;
    height: 36.75px !important;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: rgb(255, 255, 255);
    font-weight: 450;
    margin-left: 21px;
    padding-top: 2em;
    padding-bottom: 4em;
}

.nav-left {
    width: 25%;
}

.nav-logo {
    width: 40%;
}

.nav-logo:hover {
    border: transparent;
}

.nav-address {
    margin-left: 0 !important;
}

.nav-search {
    width: 85%;
    margin: 2% 1% 2% 14%;
}

.right {
    width: 100%;
}

.nav-sign {
    min-width: 30%;
}

.cls {
    margin-right: 0%;
}

.nav-hike {
    width: fit-content;
    background-color: white;
}

.nav-hike-menu {
    border-radius: 0.5rem;
    background-color: white;
    width: fit-content;
    border: 1pt solid black;
}

#nav-hike {
    width: fit-content;
    position: fixed;
    top: 7rem;
    left: 25%;
}



.nav-hike-list {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu-head {
    font-size: larger;
    color: #0dcaf0;
    font-weight: 500;
    text-align: center;
}

.menu-head:hover {
    font-weight: 550;
    border-bottom: 1.5pt solid rgb(8, 90, 145);
}

.menu-item:hover {
    color: rgb(10, 122, 202);
    font-weight: 600;
    background-color: rgb(73, 226, 219);
}



.main-menu {
    font-weight: bold !important;
    color: aliceblue;
    border: 2px solid transparent;
    /* same color as nav-main */
    padding: 1px 2px;
    max-width: fit-content;
    height: 6.78%;
    margin-inline: 5px;
}

.nav-2-link
{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}

a:hover + #nav-hike
{
    display: block;
}