
.mainBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: white;
  /* background: linear-gradient(to top left, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9)); */

  /* padding: 1%; */
  /* margin: 0.5% 0.5% 0.5% 0%; */
  border-radius: 0.5rem;
}
body{
  background-color: #e6eaea;
}
.filtersLeft {
  display: flex;
  /* max-width: fit-content !important; */
  flex-flow: column nowrap;
  /* border: 2px solid grey; */
  border-radius: 0.5rem;
  width: 20% !important;
  justify-content: flex-start;
  margin: 0 0 0 2% ;
  padding: 1%;
  margin-top: 1% !important;
  background-color: white;
  max-height: max-content;
  /* background: linear-gradient(to bottom right, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9)); */
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}
.filtersHeadingText{
  background-color: transparent;
  padding: 1%;
}
.customerReviewTitleText,
.FiltersSubHeadingTitleText {
  background-color: transparent;
  /* border-radius: 1.5rem; */
}
.FiltersSubHeadingTitleText{
  font-size: medium;
  padding: 1%;
  margin: 1%;
}
.filtersCategoriesText{
  padding: 1%;
  margin: 1%;
  font-size: small;
}
.applyFilters{
  margin-left: 30%;
}
.mainContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: transparent;
  border-radius: 0.5rem;
  margin: 1%;
}

/* .starSelection{
    display: flex;
    max-width: fit-content;
    flex-flow: row nowrap;
    margin: 2%
} */
.customerRating {
  display: inline-flex;
  flex-flow: column nowrap;
  /* max-width: fit-content; */
}

.accordion {
  background-color: transparent;
  /* color: #444; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: bold;
  color: black;
}

.activeAccordion,
.accordion:hover {
  background: linear-gradient(to left, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9));
  /* background: transparent; */
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activeAccordion:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Price Slder */
 .noUi-target,
 .noUi-target * {
   -webkit-touch-callout: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-user-select: none;
   -ms-touch-action: none;
   touch-action: none;
   -ms-user-select: none;
   -moz-user-select: none;
   user-select: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 .noUi-target {
   position: relative;
 }
 .noUi-base,
 .noUi-connects {
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 1;
 }
 /* Wrapper for all connect elements.
  */
 .noUi-connects {
   overflow: hidden;
   z-index: 0;
 }
 .noUi-connect,
 .noUi-origin {
   will-change: transform;
   position: absolute;
   z-index: 1;
   top: 0;
   right: 0;
   -ms-transform-origin: 0 0;
   -webkit-transform-origin: 0 0;
   -webkit-transform-style: preserve-3d;
   transform-origin: 0 0;
   transform-style: flat;
 }
 .noUi-connect {
   height: 100%;
   width: 100%;
 }
 .noUi-origin {
   height: 10%;
   width: 10%;
 }
 /* Offset direction
  */
 .noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
   left: 0;
   right: auto;
 }
 /* Give origins 0 height/width so they don't interfere with clicking the
  * connect elements.
  */
 .noUi-vertical .noUi-origin {
   width: 0;
 }
 .noUi-horizontal .noUi-origin {
   height: 0;
 }
 .noUi-handle {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   position: absolute;
 }
 .noUi-touch-area {
   height: 100%;
   width: 100%;
 }
 .noUi-state-tap .noUi-connect,
 .noUi-state-tap .noUi-origin {
   -webkit-transition: transform 0.3s;
   transition: transform 0.3s;
 }
 .noUi-state-drag * {
   cursor: inherit !important;
 }
 /* Slider size and handle placement;
  */
 .noUi-horizontal {
   height: 18px;
 }
 .noUi-horizontal .noUi-handle {
   width: 34px;
   height: 28px;
   right: -17px;
   top: -6px;
 }
 .noUi-vertical {
   width: 18px;
 }
 .noUi-vertical .noUi-handle {
   width: 28px;
   height: 34px;
   right: -6px;
   top: -17px;
 }
 .noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
   left: -17px;
   right: auto;
 }
 /* Styling;
  * Giving the connect element a border radius causes issues with using transform: scale
  */
 .noUi-target {
   background: #FAFAFA;
   border-radius: 4px;
   border: 1px solid #D3D3D3;
   box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
 }
 .noUi-connects {
   border-radius: 3px;
 }
 .noUi-connect {
   background: #3FB8AF;
 }
 /* Handles and cursors;
  */
 .noUi-draggable {
   cursor: ew-resize;
 }
 .noUi-vertical .noUi-draggable {
   cursor: ns-resize;
 }
 .noUi-handle {
   border: 1px solid #D9D9D9;
   border-radius: 3px;
   background: #FFF;
   cursor: default;
   box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
 }
 .noUi-active {
   box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
 }
 /* Handle stripes;
  */
 .noUi-handle:before,
 .noUi-handle:after {
   content: "";
   display: block;
   position: absolute;
   height: 14px;
   width: 1px;
   background: #E8E7E6;
   left: 14px;
   top: 6px;
 }
 .noUi-handle:after {
   left: 17px;
 }
 .noUi-vertical .noUi-handle:before,
 .noUi-vertical .noUi-handle:after {
   width: 14px;
   height: 1px;
   left: 6px;
   top: 14px;
 }
 .noUi-vertical .noUi-handle:after {
   top: 17px;
 }
 /* Disabled state;
  */
 [disabled] .noUi-connect {
   background: #B8B8B8;
 }
 [disabled].noUi-target,
 [disabled].noUi-handle,
 [disabled] .noUi-handle {
   cursor: not-allowed;
 }
 /* Base;
  *
  */
 .noUi-pips,
 .noUi-pips * {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 .noUi-pips {
   position: absolute;
   color: #999;
 }
 /* Values;
  *
  */
 .noUi-value {
   position: absolute;
   white-space: nowrap;
   text-align: center;
 }
 .noUi-value-sub {
   color: #ccc;
   font-size: 10px;
 }
 /* Markings;
  *
  */
 .noUi-marker {
   position: absolute;
   background: #CCC;
 }
 .noUi-marker-sub {
   background: #AAA;
 }
 .noUi-marker-large {
   background: #AAA;
 }
 /* Horizontal layout;
  *
  */
 .noUi-pips-horizontal {
   padding: 10px 0;
   height: 80px;
   top: 100%;
   left: 0;
   width: 100%;
 }
 .noUi-value-horizontal {
   -webkit-transform: translate(-50%, 50%);
   transform: translate(-50%, 50%);
 }
 .noUi-rtl .noUi-value-horizontal {
   -webkit-transform: translate(50%, 50%);
   transform: translate(50%, 50%);
 }
 .noUi-marker-horizontal.noUi-marker {
   margin-left: -1px;
   width: 2px;
   height: 5px;
 }
 .noUi-marker-horizontal.noUi-marker-sub {
   height: 10px;
 }
 .noUi-marker-horizontal.noUi-marker-large {
   height: 15px;
 }
 /* Vertical layout;
  *
  */
 .noUi-pips-vertical {
   padding: 0 10px;
   height: 100%;
   top: 0;
   left: 100%;
 }
 .noUi-value-vertical {
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
   padding-left: 25px;
 }
 .noUi-rtl .noUi-value-vertical {
   -webkit-transform: translate(0, 50%);
   transform: translate(0, 50%);
 }
 .noUi-marker-vertical.noUi-marker {
   width: 5px;
   height: 2px;
   margin-top: -1px;
 }
 .noUi-marker-vertical.noUi-marker-sub {
   width: 10px;
 }
 .noUi-marker-vertical.noUi-marker-large {
   width: 15px;
 }
 .noUi-tooltip {
   display: block;
   position: absolute;
   border: 1px solid #D9D9D9;
   border-radius: 3px;
   background: #fff;
   color: #000;
   padding: 5px;
   text-align: center;
   white-space: nowrap;
 }
 .noUi-horizontal .noUi-tooltip {
   -webkit-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
   left: 50%;
   bottom: 120%;
 }
 .noUi-vertical .noUi-tooltip {
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
   top: 50%;
   right: 120%;
 }
 .noUi-horizontal .noUi-origin > .noUi-tooltip {
   -webkit-transform: translate(50%, 0);
   transform: translate(50%, 0);
   left: auto;
   bottom: 10px;
 }
 .noUi-vertical .noUi-origin > .noUi-tooltip {
   -webkit-transform: translate(0, -18px);
   transform: translate(0, -18px);
   top: auto;
   right: 28px;
 }
 /* Price Slider Complete*/


/* lhs css */
.btn-colour {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-bottom: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #fff, 0 0 0 1px #ced4da;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: border-color 0.1s;
}
.btn-colour:hover {
  box-shadow: inset 0 0 0 5px #fff, 0 0 0 1px #868e96;
}
.btn-colour.active {
  box-shadow: inset 0 0 0 5px #fff, 0 0 0 2px #495057;
}

.form-control.form-control-underlined {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
}

.focus-shadow-0:focus {
  box-shadow: none !important;
}

/*
* ===================================================
*     Category sidebar
* ===================================================
*/
.sidebar-block {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e9ecef;
}
.sidebar-block:last-of-type {
  border-bottom: none;
}
.sidebar-block:first-of-type {
  padding-top: 0;
}

.sidebar-heading {
  margin-bottom: 1.2rem;
  font-weight: 400;
  color: #868e96;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar-badge {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.2rem 0.6rem;
  border-radius: 4rem;
  background: #868e96;
  color: #fff;
  font-size: 0.7em;
}

.sidebar-menu-item {
  position: relative;
}
.sidebar-menu-item > .nav-link {
  font-weight: bold;
}
.sidebar-menu-item[data-bs-toggle=collapse]::before {
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  right: 10px;
  content: "";
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.sidebar-menu-item[aria-expanded=true]::before {
  content: "";
}

.nav-link {
  transition: all 0.2s ease-out;
}
.nav-link.active .sidebar-badge {
  background: #343a40;
}

.nouislider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #868e96;
  font-size: 0.7875rem;
}

/*
* ===================================================
*     Products 
* ===================================================
*/
.product-grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  color: #868e96;
}
.product-grid-header strong {
  color: #495057;
}

.product-grid-header-show {
  display: inline-block;
  padding: 0.3rem;
  color: #495057;
  margin-right: 0.5rem;
}
.product-grid-header-show.active {
  border-bottom: solid 2px #495057;
}
.product-grid-header-show:hover, .product-grid-header-show:focus {
  text-decoration: none;
  border-bottom: solid 2px #495057;
}

.product {
  margin-bottom: 1.5rem;
}

.product-image {
  position: relative;
  border-bottom: 2px solid #495057;
}
.product-image:hover {
  border-bottom: 2px solid #3494E6;
}
.product-image:hover .product-hover-overlay {
  opacity: 1;
}
.product-image:hover .btn {
  transform: none !important;
  opacity: 1 !important;
}

.product-hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.92);
  opacity: 0;
  transition: opacity 0.3s;
}
.product-hover-overlay .product-hover-overlay-buttons {
  z-index: 3;
}
.product-hover-overlay .btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
.product-hover-overlay .btn.btn-product-left {
  transform: translateX(-20px);
  opacity: 0;
}
.product-hover-overlay .btn.btn-product-right {
  transform: translateX(20px);
  opacity: 0;
}
.product-hover-overlay .btn.btn-buy {
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.product-hover-overlay .product-hover-overlay-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*
NoUI Slider theming
*/
.noUi-target {
  background: #ddd;
  border-radius: 0;
  border: none;
  box-shadow: none;
  height: 5px;
  margin-top: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 5px;
  height: 14px;
  right: -2px !important;
  top: -5px;
  background: #343a40;
  border: none;
  border-radius: 0;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.noUi-horizontal .noUi-handle::before,
.noUi-horizontal .noUi-handle::after {
  display: none;
}

.noUi-connect {
  background: #343a40;
}

.text-primary .noUi-handle, .text-primary .noUi-connect {
  background: #3494E6;
}

.text-secondary .noUi-handle, .text-secondary .noUi-connect {
  background: theme-color("secondary");
}

.nouislider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #868e96;
  font-size: 0.7875rem;
}


@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .mh-full-screen {
    height: 100vh;
  }
}

.mh-full-screen-with-header {
  min-height: calc(100vh - 125px - 2rem);
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .mh-full-screen-with-header {
    height: calc(100vh - 125px - 2rem);
  }
}

@media (min-width: 576px) {
  .expand-sm {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .expand-md {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .expand-lg {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .expand-xl {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  .expand-xxl {
    display: block !important;
  }
}
.expand {
  display: block !important;
}