.input-container {
    position: relative;
    width:30%;
    margin:4%;
  }
  .input {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
  }
  
  .label {
    top: 0;
    left: 0; right: 0;
    color: #616161;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
  }
  
  .input,
  .label {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
  }
  
  /* Interation */
  .input:valid,
  .input:focus {
    border-bottom: 2px solid #2688a6;  
  }
  
  .input:valid + .label,
  .input:focus + .label {
    color: #26a69a;
    font-size: .8rem;
    top: -30px;
    pointer-events: none;
  }
  .btn-fr{
    margin-left:15%;
  }