.detail-quantity {
    max-width: 5rem;
    text-align: center;
}

.review {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #e9ecef;
}

.review:first-of-type {
    padding-top: 1rem;
}

.text-center {
    text-align: center !important;
}

.review-image {
    display: block;
    width: 120px;
    max-width: 100%;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0 auto 0.5rem;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.125);
}

img,
svg {
    vertical-align: middle;
}

user agent stylesheet img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.detail-nav-link {
    color: #343a40;
}

.detail-nav-link.nav-link.active,
.detail-nav-link.nav-link:hover,
.detail-nav-link.nav-link:focus {
    color: #343a40;
    border-color: #fff #fff #181b1e !important;
}

.gradient-custom {
    background: linear-gradient(to bottom right, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9));
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    background: linear-gradient(to right, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9));

}

#progressbar-1 {
    color: #455A64;
}

#progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
}

#progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
}

#progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
}

#progressbar-1 li:nth-child(2):after {
    left: 50%
}

#progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
}

#progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
    background: #1266f1;
}

.card-stepper {
    z-index: 0
}

.NotYetShippedClass {
    display: flex;
    flex-flow: row wrap;
}

.NotYetShippedInnerClass {
    width: 100%;
}

.NotYetShippedProductCard {
    padding: 2%;
}

.orderEmp {
    color: rgba(39, 166, 230, 0.9);
}

.progressBar {
    opacity: 1;
    background-color: rgba(39, 166, 230, 0.9);
    width: 100%;
    border-radius: 1rem;
}
.pb1{
    width: 50% !important;
}

.ordersLowerArea {
    background-color: rgba(39, 166, 230, 0.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nk {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.dropdown-menu a:hover {
  background-color: #110e0e;
}

.ll {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding: 2%;
}

.need {
  margin-top: 1%;
}

.card:hover {
  top: -2px;
  display: block;
  margin-top: -1px;
  margin-left: -1px;
  border-radius: 6px 6px 6px 6px;
  transition-duration: 0.5s;
  border-color: rgb(4, 224, 140);
}

a {
  color: black;
  text-decoration: none;
}
.cover{
    display: flex;
    justify-content: space-between;
}