body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.btn1 {

border:ridge 1px orange;
border: 1px;
height:20px;
background-color: orange;
border-radius: 40px;
margin-top: 10px;
margin-left: 500px;
padding-bottom: 30px;
padding-right: 8px;
padding-left: 10px;
padding-top: 8px;
display: flex;


}

.btn1:hover{
    /* box-shadow: rgba(56, 56, 104, 0.2) 0px 7px 29px 0px; */
   
   
    z-index: 10;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}


h2 {
    margin-left: 20px;

}

.abc {
    margin: 20px;
    margin-left: 30px;
}

.card:hover {
    z-index: 1;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}



.card {

    margin: 20px;
}

.div1 {
    margin-left: 80px;
    margin-top: 100px;
    background-color: rgb(249, 249, 237);

}

.c1 {
    margin-left: 60px;
    margin-top: 20px;
    height: 40px;
}

.div2 {
    display:flex;
    height: 70px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgb(225, 212, 212);
    padding: 0px;
}

.c2{
margin-top: 50px;
margin-left: 50px;
font-size: 40px;
color: #393838;

}


.p1{
margin-left: 50px;
margin-top: 40px;

}

.btn3{
margin-left: 50px;
margin-top: 20px;
background-color: orange;
border: 0px;
border-radius: 20px;
padding: 6px;

}

.btn3:hover{
z-index: 10;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}

.btn4{
border-radius: 20px;
margin-left: 40px;   

}

.btn4:hover{
z-index: 10;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}

.p2{

margin-left: 50px;
margin-top: 10px;
font-size: 10px;
}


.div5{
box-shadow: 0px 0px 10px rgb(225, 212, 212);
height: 200px;
margin-left: 80px;
margin-right: 50px;
margin-top: 40px;

}

.p5{

margin-left: 60px;

font-size: 25px;

}

.img5{
margin-left: 20px;
margin-top: 20px;
height: 40px;
width: 40px;
}

.p6{
margin-left: 60px;

}

.btn6{
border-radius: 20px;
margin-top: 30px;
margin-left: 400px;
margin-bottom: 100px;

}

.btn6:hover{
z-index: 10;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}


.h7{
color: black ;
margin-left: 80px;
font-size:4vw
}


.p7{
margin-top: 20px;
margin-left: 80px;

}

.img7{
margin-top: 0px;
margin-left: 700px;
height: 200px;
width: 200px;
}


.pcopy{
margin-top: 40px;
margin-left: 400px;
}


.img1div3{
    border: 0px;
    height: 300px;
    width: 800px;
    margin-left: 50px;
}