/*  */
/* .bg {
    background: url('https://images.unsplash.com/photo-1445127040028-b1bdb9acd16e?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1125') center top no-repeat;
    display: block;
    background-size: cover;
    height: 768px;
    width: 100%;
    position: relative;
  } */
  .inp{
    background: rgba(255,255,255,0.4);
    border: none;
    position: relative;
    display: block;
    outline: none;
    width: 300px;
    height: 30px;
    margin: 2% 65%;
    padding: 10px;
    color: #333;
    /* /* -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5); */
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5); 
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666; }

/*  */
/*  */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 40px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 10px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 40px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:#130f40;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 250px;
    border-radius: 10px;
    background-color: #01BAEF;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 2000ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 250px;
    border-radius: 10px;
    background-color: #01BAEF;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  a
  {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }

/*  */
.outer{
   display: flex;
}
/* .cl{    
    background: url("/Images/ProductImages/Shoes/search-icon-removebg-preview.png")no-repeat;
    background-size:10%;
    background-position: 6%;
    padding-left:4%;
    padding:2%;
    border: ridge 1px grey;
    }
    .cl:focus{
        background: none;
        border:ridge 1px red !important;
        border-radius: 5%;
    } */
    .navpluscards{
        display:flex;
        flex-direction: column;
        width:78%;
        height:45rem;
    }
    .nav{
        display:flex;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width:102%;
        padding:2%;
        height:fit-content;
    }
    #body{
        background-color: rgb(26, 64, 64);
    }
    .secnav{
        margin-left: 27vw;
    }
    .secnav1{
        margin-left:3%;
        font-size: 150%;
        margin-top:0%;
        font-weight: lighter;
        color:grey;
    }
    .thinav{
        margin-left:2%;
        font-size: 140%;
    }
    .fornav{
     margin-left:3%;
     font-size: 140%;
    }
    .fivnav{
        margin-left:3%;
    }
    .dropdown{
        margin-left:1%;
        background-color: white;
    }

    .leftbar{
        height:69rem;
        width:20%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        /* background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%); */
        background: linear-gradient(to left, rgba(39, 166, 230, 0.9), rgba(50, 211, 206, 0.9));
    }
    .forlogo{
        margin-top:15%;
        margin-left:23%;
        margin-right:24%;
    }
    .menu{
        margin-top:10%;
        display:flex;
    }
    .line{
        width:100%;
    }
    .linemenu{
        padding:1%;
        margin-left:4%;
    }
    .dropdown2{
        margin-left:8%;
    }
    /* .dropdown2-content{
        /* display: none; */
        /* position: absolute;
        background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
        width: 16rem;
        height:30rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    } */ 
    .mm{
        color:rgb(0, 0, 0);
        font-size:small;
        margin-top:10%;
        margin-left: 10%;
    }
    .dropdown2-content{
        position: absolute;
        background:rgb(99 210 240);
        width: 16rem;
        height:35rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition: all 0.1s; 
        max-height:35rem;
        /* animation: slide-down 1.5s; */
        /* display: none; */
        border-radius: 20px;
    }
    .headingDash
    {
        text-align: center;
        color: #004567;
        text-decoration: overline;
        font-weight: 750;
    }
    @keyframes slide-down {
        from { transform: translateY(-40px); opacity: 0; }
        to { transform: translateY(0); opacity: 1; }
      }
    .dropdown2-content ul{
        color:#000000;
        list-style: none;
        margin:10% 7.5% 10%;
        padding:0;
        font-size: 15px;
    }
    .dropdown2-content ul li{
        padding:8%;
        border-radius: 11px;
    }
    .dropdown2-content ul li:hover{
        background-color: rgba(29, 114, 204, 0.9);
        color:rgb(0, 0, 0);
        /* opacity:50%; */
        cursor:pointer;
        border-radius: 11px;
    }
    .olmargin{
        margin-left:8%;
        font-weight: 550;
    }
    .firnav{
        font-size: 20px;
        font-weight: 700;
    }
    .revenuecards{
        display: flex;
        margin-top:3%;
        margin-left:2%;
    }
    .graphs{
        display:flex;
        margin-top:1%;
    }
    .graph1{
        width:80%;
        padding: 2%;
        margin-left:10%;
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        
    }
    .graph2{
        width:33%;
        height:100%;
        padding: 2%;
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
       margin-left:4%;
       margin-right:2%;
       border-radius: 8px;
       box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    .graph1:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        cursor:pointer
    }
    .graph2:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        cursor:pointer;
    }
    .uppercard{
        display:flex;
        width:100%;
        height:50%;
    }
    .linever{
        width:2%;
        height:85%;
        background-color: blueviolet;
        margin:9%;
        border-radius: 8px;
    }
    .revenuecards1{
        width:22%;
        height:8rem;;
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
        margin:2%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    .revenuecards1:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        cursor: pointer;
    }
    .heading{
        margin-top:25%;
        font-weight: 500;
        color:grey;
        opacity:50%;
    }
    .number{
        font-size: 25px;
        font-weight: 600;
    }
    .image{
        margin-left:20%;
        margin-top:9%;
    }
    .text{
        margin:9%;
        font-size:14px;
    }
    .fsttxt{
        color:green;
        font-weight: 500;
    }
    .ttwn{
        color:grey;
        opacity:50%;
    }
   
    .recent-invoices{
        margin-left:4%;
        margin-top:2%;
        margin-bottom:4%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        display:grid;
        font-size:0.9rem;
        color: #4f546c;
        background-color:#eee;
        align-items: center;
    }
   /* td img{
    width:36px;
    height:36px;
    border-radius: 50%;
    text-align: center;
   } */
   table tr:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   .bg{
    display:flex;
   }
.btnbox{
    display:flex;
    margin-top:0%;
}
#prevButton{
    margin-left:1370%;
    width:50%;
    border-radius:200px;
    height:50%;
    margin-top:40%;
}
#nextButton{
    margin-left:350%;
    width:50%;
    border-radius:20px;
    height:50%;
    margin-top:40%;
}
 @media screen and (max-width:1464px){
    .secnav{
       margin-left: 20.4vw;
    }
}
@media screen and (max-width:1271px){
     .secnav{
        margin-left: 14.67vw;
     }
     .dropdown2-content{
        width:17%;
    }
    .forlogo img{
        width:100%;
    }
    .image{
       margin-left:15%;
    }
    .inp{
        width:200px;
    }
}
@media screen and (max-width:1220px){

    .image{
        margin-left:0%;
     }


}
@media screen and (max-width:1035px){
    .secnav{
       margin-left: 10vw;
    }
    .dropdown2-content{
        width:17%;
    }
    .forlogo img{
        width:100%;
    }
    .image{
        margin-left:0%;
    }
    .linever{
        margin:5%;
    }
}
@media screen and (max-width:901px){
    .secnav{
       margin-left: 7.75vw;
    }
    .dropdown2-content{
        width:17%;
    }
    .forlogo img{
        width:100%;
    }
    .image{
        margin-left:0%;
    }
    .linever{
        margin:5%;
    }
}
@media screen and (max-width:400px){
    .secnav1{
       margin:50%;
    }
}



.pcHzMain{
    /* max-width:; */
    max-height: 280px;
    background-color: #eee;
}
.pcHzMain:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

.HzSampleTxt{
    margin: 0;
}
.pcHzPrice{
    display: inline-flex;
    margin: 0;
    flex-wrap: wrap;
    opacity: 80%;
}
.pcHzDiscount{
    max-width: fit-content;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5%;
    background-color: royalblue;
    color: whitesmoke;
    padding: 0.5%;
    margin: 2% 3%;
}
.pcHzLimitedTimeDeal{
    max-width: fit-content;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 2%;
    color: whitesmoke;
    background-color: brown;
    padding: 1%;
    margin: 4%;
    font-size: 7px;
}
.pcHzMain .linkitem:hover{
    color:#0770cf;
}
* {
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Arial;
    margin: 0 auto; 
    max-width: 75%;
    padding: 20px;
  } */
  
  .headingk {
    font-size: 13px;
    opacity: 90%;
    margin-top:10%;
  }
  .headingk:hover{
    text-decoration: underline;
    opacity:50%;
  }
  .headingJr{
    font-size: 15px;
    opacity: 80%;

  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: lightblue; 
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  /* .right {
    text-align: right;
  } */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .middleneed{
    margin:1%;
    padding:2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:54rem;
    overflow-y: auto;
  }
  .right {
    display: none;
  }
.fa{
  font-size: 15px;
}
.pcBtnGroup{
  max-width: fit-content;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 40%;
}
.pcBtnsc{
  margin-top:10%;
  margin-left:25%;
}
.pcButton1{
    padding-left:50px;
    padding-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left:-10px;
 }
 .pcHzRating{
    margin:0%;
 }