body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8fbd9;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}



h2 {
    margin-left: 20px;

}

.abc {
    margin: 20px;
    margin-left: 30px;
}

.card:hover {
    z-index: 1;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}



.card {

    margin-left: 40px;

}

.div1 {
    margin-left: 80px;
    margin-top: 100px;
    background-color: rgb(249, 249, 237);
    padding-left: 40px;


}



.c2 {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 40px;
    color: #393838;

}


.p1 {
    margin-left: 50px;
    margin-top: 40px;

}

.btn3 {
    margin-left: 100px;
    margin-top: 20px;
    background-color: orange;
    border: 0px;
    border-radius: 30px;
    padding: 15px;

}

.btn3:hover {
    z-index: 10;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}

.btn4 {
    border-radius: 20px;
    margin-left: 100px;

}

.btn4:hover {
    z-index: 10;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}

.p2 {

    margin-left: 100px;
    margin-top: 10px;
    font-size: 10px;
}


.div5 {
    box-shadow: 0px 0px 10px rgb(225, 212, 212);
    height: 200px;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 40px;

}

.p5 {

    margin-left: 60px;

    font-size: 25px;

}

.img5 {
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
}

.p6 {
    margin-left: 60px;

}

.btn6 {
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 400px;
    margin-bottom: 100px;

}

.btn6:hover {
    z-index: 10;
    box-shadow: 0px 8px 50px rgb(0, 0, 0, 0.2);
    transform: scale(1);
}


.h7 {
    color: black;
    margin-left: 80px;
    font-size: 4vw
}


.p7 {
    margin-top: 20px;
    margin-left: 80px;

}

.img7 {
    margin-top: 0px;
    margin-left: 700px;
    height: 200px;
    width: 200px;
}


.pcopy {
    margin-top: 40px;
    margin-left: 400px;
}


.img1div3 {
    border: 0px;
    height: 300px;
    width: 800px;
    margin-left: 50px;
}

.b1 {

    background-color: #c6dd90;
}


.fcontainer {
    margin-top: 10px;
    display: flex;
    background-color: aqua;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.fitem {
    /* 
          margin: 10px; */
}

.h4 {

    margin-top: 40px;
    margin-left: 40px;
    font-size: 30px;
}

.ss {
    margin-left: 500px;
    border-radius: 25px;
    height: 50px;
    width: 100px;
    margin-top: 20px;
    background-color: orange;
    padding-left: 2wpx;
    padding-right: 2px;

}

.ss:hover {

    z-index: 2;
    box-shadow: 0px 8px 50px gray;
    transform: scale(1);
}

.su {

    background-color: rgb(165, 208, 108);
    margin-left: 120px;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
}

.su:hover{
    z-index: 2;
    box-shadow: 0px 8px 50px gray;
    transform: scale(1);
}



.lo {
    background-color: rgb(165, 208, 108);;
    margin-left: 30px;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;

}

.lo:hover{
    z-index: 2;
    box-shadow: 0px 8px 50px gray;
    transform: scale(1);
}
