.py-lg-12 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
}
.shadow {
    box-shadow: 0 0.375rem 1.5rem rem 0 rgba(var(--bs-gray-700-rgb), .125) !important;
}
.margin{
    margin-top: -10rem!important;
}
.userInfoClass{
    margin-top: -5rem !important;
}
.error{
    width: 100%;
    margin-top: 5px;
    display:block;
    position: relative;
    font-size: 13px;
    color:red;
}