<div class="leftbar">
  <div class="forlogo"><a href="/"><img src="/LOGO/newLOGOTest/newLOGO_no_background.png" width="150px" height="80px"></a></div>
  <div class="headingDash">USER DASHBOARD</div>
  <div class="menu">
    <div class="line"><hr></div>
    </div>
    <div class="dropdown2">
      <div id="drp" class="dropdown2-content">
        <!-- <p class="mm"></p> -->
        <ul>
          <a href="/userDashboard"><li><i class="fa-solid fa-edit"></i><span class="olmargin">Update Profile</span></li></a>
          <a href="/userDashboard/returnsAndOrders"><li><i class="fa-solid fa-store"></i><span class="olmargin">Returns and Orders</span></li></a>
          <!-- <a href="/userDashboard/following"><li><i class="fa-solid fa-share-nodes"></i><span class="olmargin">Following</span></li></a> -->
          <a href="/userDashboard/changePassword"><li><i class="fa-solid fa-gears"></i><span class="olmargin">Change Password</span></li></a>
          <a href="/userDashboard/RuggedPlusMembership"><li><i class="fa-solid fa-star"></i><span class="olmargin">RUGGED+</span></li></a>
        </ul>
        <!-- <p class="mm">HELP & SUPPORT</p>
        <ul>
          <li><i class="fa-solid fa-info"></i><span class="olmargin">Help & Center</span></li>
          <li><i class="fa-solid fa-gear"></i><span class="olmargin">Settings</span></li>
          <li><i class="fa-solid fa-right-from-bracket"></i><span class="olmargin">LogOut</span></li>
        </ul> -->
        <a class="btn btn-info" href="/logout" style="margin-left: 5rem; margin-top: 8rem;">
          <i class="fa-solid fa-right-from-bracket"></i><span class="olmargin"></span>LogOut
        </a>
      </div>
    </div>
  </div>