<div class="single-blog-post d-flex flex-inline mt-50">
    <div class="thumnail mb-50"><a href="#"><img src="Images/services/backpackW.jpg" width="365px" height="365px"></a><hr></div>
    <div class="contentblog mb-50">
     <p class="post-date">March 21, 2023 / Bag</p>
     <a href="#" class="post-title"><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, molestiae illo!</h4></a>
     <div class="post-meta">
       <a href="#"><span class="byk">by</span> <span class="namek">Alex Hales</span></a>
       <a href="#"><i class="fa-regular fa-eye"></i> <span class="onenn">200</span></a>
       <a href="#"><i class="fa-regular fa-comment"></i> <span class="onenn">12</span></a>
     </div>
     <p class="post-data">
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, nostrum asperiores excepturi earum iure perferendis consequatur distinctio.
     </p>
     <a href="#" class="read-more">
       CONTINUE READING 
       <i class="fa-solid fa-arrow-right-long"></i>
     </a>
    </div>
 </div>