<div class="carousel-slides">
    <div id="imgchng" class="carousel-inner">
     <div class="carousel-content">
       <p>MARCH 21, 2023 / India</p>
       <a href="#" class="title">
         <h2 class="ok">A closure view of trekking</h2>
       </a>
     </div>
    </div>
    <ol class="surrbox">
      <li id="1" class="smallbox activebox">
       <h2>01</h2>
       <a class="post-titleU">Lorem ipsum dolor, sit amet consectetur adipisicing.</a>
      </li>
      <li id="2" class="smallbox">
       <h2>02</h2>
       <a class="post-titleU">Lorem ipsum dolor, sit amet consectetur adipisicing.</a>
      </li>
      <li id="3" class="smallbox">
       <h2>03</h2>
       <a class="post-titleU">Lorem ipsum dolor, sit amet consectetur adipisicing.</a>
      </li>
      <li id="4" class="smallbox">
       <h2>04</h2>
       <a class="post-titleU">Lorem ipsum dolor, sit amet consectetur adipisicing.</a>
      </li>
      <li id="5" class="smallbox">
       <h2>05</h2>
       <a class="post-titleU">Lorem ipsum dolor, sit amet consectetur adipisicing.</a>
      </li>


    </ol>
 </div> 