<div class="one-latest-post d-flex">
    <div class="lpst-thumbnail"><img src=<%= post.imageURL %> width="102px" height="102px"></div>
    <div class="lpst-content">
      <a href="#"><h6><%= post.title %></h6></a>
      <a href="#"><span class="byk">by</span> <%= user.firstname + user.lastname %></a>
    </div>
  </div>