<div class="one-latest-post d-flex">
    <div class="lpst-thumbnail"><img src="Images/services/helmet2.jpg" width="102px" height="102px"></div>
    <div class="lpst-content">
      <a href="#"><h6>Lorem ipsum dolor sit amet.</h6></a>
      <a href="#"><span class="byk">by</span> Ross Taylor</a>
    </div>
  </div>