<div class="revenuecards1">
    <div class="uppercard">
    <div class="linever"></div>
    <div class="onepart">
       <div class="heading">Customers</div>
       <div class="number">1.234</div>
       </div>
       <div class="image"><img src="/Images/ProductImages/Shoes/customer1-removebg-preview.png" width="50px" height="50px"></div>
      </div>
       <div class="text"><span class="fsttxt"><i class="fa-solid fa-arrow-up"></i> +9.5% </span><span class="ttwn">Since last week</span></div>

   </div>