<nav class="container-fluid navbar nav-sec">
    <div class="d-flex flex-inline nav-item">
      All
    </div>
    <div class="d-flex flex-inline nav-item">
      Sell
    </div>
    <div class="d-flex flex-inline nav-item">
      Best Sellers
    </div>
    <div class="d-flex flex-inline nav-item">
      Today's Deals
    </div>
    <div class="d-flex flex-inline nav-item">
      New Releases
    </div>
    <div class="d-flex flex-inline nav-item">
      Electronics
    </div>
    <div class="d-flex flex-inline nav-item">
      Fashion
    </div>
</nav>