<nav class="container-fluid navbar nav-sec">
  <a class="nav-item" href="#">
    <i class="fa fa-bars"> </i>
  </a>
  <a class="nav-item" href="#">
  Sell
  </div>
  <a class=" nav-item" href="#">
    Best Sellers
  </a>
  <a class="nav-item" href="#">
    Today's Deals
  </a>
  <a class="nav-item" href="#">
    New Releases
  </a>
  <a class="nav-item" href="#">
    Electronics
  </a>
  <a class="nav-item" href="#">
    Fashion
  </a>
</nav>