<nav class="container-fluid navbar nav-sec navbar-color ">
  <a class="nav-item nav-2-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAllSection" role="button" aria-label="allSection">
    <i class="fa fa-bars"></i>
    All
  </a>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasAllSection" aria-labelledby="allSection">
      <div class="offcanvas-header navbar-color">
        <h4 class="offcanvas-title text-white"> <span class="fa fa-user"> </span><i> Hello <%if(isLoggedin){%><%=user.firstname%><% }else{%>User<% } %></i> </h4>
        <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body px-0">
        <div class="container">
          <!-- <h5 class="px-3">Trending Today</h5>
          <ul class="list-group">
            <a class="list-group-item list-group-item-action border-0 px-4" href="#">Best Seller</a>
            <a class="list-group-item list-group-item-action border-0 px-4" href="#">New releases</a>
            <a class="list-group-item list-group-item-action border-0 px-4" href="/blogPost">RUGGED+ Influencers</a>
          </ul> -->
          <!-- <hr> -->
          <h5 class="px-3">Shop by Category</h5>
          <ul class="list-group">
            <a class="list-group-item list-group-item-action border-0 px-4" href="/search?q=hik">Hiking</a>
            <a class="list-group-item list-group-item-action border-0 px-4" href="/search?q=camp">Camping</a>
            <a class="list-group-item list-group-item-action border-0 px-4" href="/search?q=trek">Trekking</a>
            <a class="list-group-item list-group-item-action border-0 px-4" href="/search?q=mount">Mountaineering</a>
          </ul>
          <hr>
          <h5 class="px-3">Help & Settings</h5>
          <ul class="list-group">
            <a class="list-group-item list-group-item-action border-0 px-4" href="/aboutus">About Us</a>
            <a class="list-group-item list-group-item-action border-0 px-4" href="/contact">Contact Us</a>

            <% if(isLoggedin) { %> <a class="list-group-item list-group-item-action border-0 px-4" href="/logout">Sign Out</a>
            <% } else{%>
              <a class="list-group-item list-group-item-action border-0 px-4" href="/login">Sign in</a>
            <%  }   %>
          </ul>
        </div>
      </div>
    </div>
  
  <a class="nav-item nav-2-link" href="/sellerPortal">
  Become a Seller
  </a>
  <a class=" nav-item nav-2-link" href="/blogPost">
    RUGGED+ Explore
  </a>
  <a tabindex="0" class="nav-item nav-2-link" href="/search?q=hik">
    Hiking 
  </a>
    <div id="nav-hike" class="" style="display: none;">
      <div class="nav-hike-menu row">
      <div class="nav-hike-list col">
          <p class="menu-head">TOOLS</p>
          <ul class="list-group menu-list">
              <a href="#" class="list-group-item menu-item border-0 py-0">Lasers</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Buckle Rock</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Cane Stick</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Plier Tools</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Knife</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Multi-Tool</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Lighters</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Drones</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">GPS Devices</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">PLB</a>
          </ul>
      </div>
      <div class="nav-hike-list col">
          <p class="menu-head">EQUIPEMENTS</p>
          <ul class="list-group menu-list">
              <a href="#" class="list-group-item menu-item border-0 py-0">First-Aid Kits</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Purify Straw</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Compass</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">AIO Survival Kit</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Sunglasses</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Sun-Protective Clothing</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Head-Lamp</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">WaterProof Socks</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Ready to Eat Food Kits</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Emergency Shelter</a>
          </ul>
      </div>
      <div class="nav-hike-list col">
          <p class="menu-head">BOOTS</p>
          <ul class="list-group menu-list">
              <a href="#" class="list-group-item menu-item border-0 py-0">Knee Boots</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Jack Boots</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Trail Shoes</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Lightweight</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Midweight</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Heavyweight</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Heavy Duty</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">RUGGED+ Verified</a>
              <a href="#" class="list-group-item menu-item border-0 py-0">Influencer's Choice</a>
          </ul>
      </div>
  </div>
  </div>
  
  <a class="nav-item nav-2-link" href="/search?q=trek">
    Trekking
  </a>
  <a class="nav-item nav-2-link" href="/search?q=camp">
    Camping
  </a>
  <a class="nav-item nav-2-link" href="/search?q=medical">
    Medical Kit
  </a>
  <a class="nav-item nav-2-link" href="/search?q=gadget">
    Gadgets
  </a>
</nav>