<nav class="navbar bg-body-tertiary SPnavbar">
  <div class="container-fluid SPnavbar">
    <p class="navbar-brand SPnavbar leftTextNavbar">Showing <%=numberOfResults%> results</p>
    <!-- <div class="dropdown SPnavbar" style="padding-right: 12%;">
      <a class="dropdown-toggle SPnavbar-btn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filters
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Featured</a></li>
        <li><a class="dropdown-item" href="#">Price:Low to High</a></li>
        <li><a class="dropdown-item" href="#">Price:High to Low</a></li>
        <li><a class="dropdown-item" href="#">Avg. customer Review</a></li>
        <li><a class="dropdown-item" href="#">Newest Arrivals</a></li>
      </ul>
    </div> -->
  </div>
</nav>