  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/html" href="/css/upperNavbar.css">
    <!-- <link rel="stylesheet" type="text/html" href="/css/style.css"> -->
    <link rel="stylesheet" type="text/html" href="/css/wishList.css">

    <title>Document</title>
  </head>

  <body>
    <nav class="container-fluid d-grid gap-3 align-items-center navbar px-3 pt-0 pb-0 fixed-top nav-main" style="grid-template-columns: 1fr 2.5fr 1.5fr">
      <div class="nav-left navbar d-flex flex-row">
        <!-- <img src="LOGO/LogoMain/rugged-high-resolution-logo-color-on-transparent-background.png" alt="" class="nav-brand" width="110" height="50"> -->
        <!-- <div id="brand-logo">
          <div class="pt-2 text-white"> RUGGED </div>
          <div>
            <span id="brand-line-2">Camping,Trekking, Hiking Equipements</span>
          </div>
        </div> -->
        <div id="brand-logo">
          <div class="pt-2 text-white"> RUGGED </div>
          <div>
            <span id="brand-line-2">Camping,Trekking, Hiking Equipements</span>
          </div>

        </div>
        <div class="nav-link col">
          <div class="nav-line-1">
            <span class="small">Hello</span>
          </div>
          <div class="nav-line-2">Select Your Address!</div>
        </div>
      </div>
      <div class="nav-search">
        <form action="" class="w-100 input-group">
          <!-- <div class="dropdown">
          <button class="btn" type="button" data-bs-toggle="dropdown">
            <span style="font-size: 13.5px;">All</span><span class="dropdown-toggle"> </span></button>
          <ul class="dropdown-menu shadow" style="font-size: 13.5px;">
            <li class="dropdown-header">Dropdown header 1</li>
          <li>
          <a class="dropdown-item active" href="#" aria-current="page">Current</a>
        </li>
        <li><a class="dropdown-item" href="#">Inventory</a></li>
        <li><a class="dropdown-item" href="#">Customers</a></li>
        <li><a class="dropdown-item" href="#">Products</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Reports</a></li>
        <li><a class="dropdown-item" href="#">Analytics</a></li>
      </ul>
        </div> -->
          <!--removed all -->
          <input type="search" class="form-control" placeholder="Search Here..." aria-label="Search" onclick="overlayOn()" />
          <button type="button" class="btn bg-secondary">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="nav-right navbar d-flex flex-row">
        <div class="nav-wish nav-link d-flex-inline p-2">
          WishList
        </div>
        <div class="nav-sign nav-link d-flex-inline ">
          <div class="nav-line-1">
            <span class="small">Hello! User</span>
          </div>
          <div class="nav-line-2">Account & Lists<span class="dropdown-toggle"></span></div>
        </div>
        <div class="nav-returns nav-link d-flex-inline ">
          <div class="nav-line-1">
            <span class="small">Returns</span>
          </div>
          <div class="nav-line-2">&Orders</div>
        </div>
        <!-- <div class="nav-cart nav-link d-flex-inline p-2">
        Cart
      </div> -->
        <!-- Cart dropover -->
        <div class="nav-cart nav-link d-flex-inline p-2">
          <div class="nav-line-2">
            <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><span class="small"><i class="fa fa-shopping-cart non-empty" style="font-size:36px"></i></span></a>
          </div>
          <!-- Canvas down now -->
          <div class="offcanvas offcanvas-end bgclr" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Apna Cart</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <!-- BigBox -->
              <div class="whole-cart-window">
                <!-- add hide class to hide cart window-->
                <!-- <div class="heading"><p>Your Bag</p></div> -->
                <div class="cart-wrapper">
                  <div class="cart-item">
                    <img src="/Images/ProductImages/Rucksack1/image1.jpg" alt="rucksack">
                    <div class="details">
                      <h3>RuckSack</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="quantity">Quantity: 1</span>
                        <span class="price">Price: ₹50.00</span>
                      </p>
                    </div>
                    <div class="cancel"><i class="fa-regular fa-trash-can coll"></i></div>
                  </div>
                  <!-- item 2 -->
                  <div class="cart-item">
                    <img src="/Images/ProductImages/Rucksack1/image1.jpg" alt="Rucksack">
                    <div class="details">
                      <h3>Item Name2</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="quantity">Quantity: 1</span>
                        <span class="price">Price: ₹100.00</span>
                      </p>
                    </div>
                    <div class="cancel"><i class="fa-regular fa-trash-can coll"></i></div>
                  </div>
                </div>
                <div class="subtotal">Delivery: ₹0.00</div>
                <div class="subtotal">Total: ₹0.00</div>
                <div class="cv">
                  <button type="button" class="btn btn-outline-secondary">View WishList</button>
                  <button type="button" class="btn btn-primary">Checkout</button>
                </div>
              </div>
              <!-- BigBox Finish -->
            </div>
            <!-- Cart Dropover Finish -->
          </div>
        </div>
        <!-- Canvas Finish -->
      </div>
    </nav>
  </body>

  </html>