<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rugged PLUS +</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/css/sellDash.css">

</head>

<body>
  <div class="outer">
    <%- include('../navAndLeftbar/leftbar.ejs') %>
    <div class="navpluscards">
      <%- include('../navAndLeftbar/userdashnavbar.ejs') %>
      <div class="col-sm-10 ms-5">
        <div class="card userInfoClass shadow mb-4 mt-5">
          <div class="card-body p-4">
            <h5 class="mb-1">Profile Details</h5>
            <p class="m-0">You have full control to manage your own account setting.</p>
          </div>
        </div>
        <div class="card shadow">
          <div class="card-body p-lg-4">
            <div class="row gy-3">
              <h3 class="mb-4">Rugged PLUS+</h6>
                <% if(isRuggedPlusMember===1){%>
                <h5 class="mb-4">You are a <em><b>valuable member</b></em> of Rugged+ community.</h5>
                <%} %>
                <% if(isRuggedPlusMember===0){%>
                <h5 class="mb-4">You are <em><b>NOT</b></em> a member of Rugged+ community.</h5>
                <%} %>
            </div>
            <hr class="my-4">
            <div class="row g-3">
                <% if(isRuggedPlusMember===1){%>
                    <form action="/userDashboard/RuggedPlusMembership?id=<%=user._id%>" method="post">
                        <!-- <div class="row mb-2">
                          <div class="col-sm-12"><label class="form-label">Old Password</label> <input type="text" name="oldPassword" class="form-control"></div>
                          <div class="col-sm-12"><label class="form-label">New Password</label> <input type="text" name="newPassword" class="form-control"></div>
                          <div class="col-sm-12"><label class="form-label">Confirm New Password</label> <input type="text" name="confirmNewPassword" class="form-control"></div>
                        </div> -->
                        <div class="d-flex pt-5">
                            <!-- isRuggedPlusMembershipNewValue -->
                          <button type="submit" class="btn btn-info me-3" value="0" name="isRuggedPlusMembershipNewValue">Unsubscribe from Rugged+</button>
                          <!-- <button type="reset" class="btn btn-info">Reset</button> -->
                        </div>
                      </form>
                    <%} %>
                    <% if(isRuggedPlusMember===0){%>
                        <form action="/userDashboard/RuggedPlusMembership?id=<%=user._id%>" method="post">
                            <!-- <div class="row mb-2">
                              <div class="col-sm-12"><label class="form-label">Old Password</label> <input type="text" name="oldPassword" class="form-control"></div>
                              <div class="col-sm-12"><label class="form-label">New Password</label> <input type="text" name="newPassword" class="form-control"></div>
                              <div class="col-sm-12"><label class="form-label">Confirm New Password</label> <input type="text" name="confirmNewPassword" class="form-control"></div>
                            </div> -->
                            <div class="d-flex pt-5">
                                <!-- isRuggedPlusMembershipNewValue -->
                              <button type="submit" class="btn btn-info me-3" value="1" name="isRuggedPlusMembershipNewValue">Become a Rugged+ Member</button>
                              <!-- <button type="reset" class="btn btn-info">Reset</button> -->
                            </div>
                          </form>
                    <%} %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="/js/selldash.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script>
  $(document).ready(function() {
    $("#fld").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tb tr").filter(function() {
        $(this).toggle($(this).text()
          .toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

</html>