<div class="nav">
    <div class="firnav">Wecome , <%= user.firstname %>    <i class="fa-solid fa-hands-clapping"></i></div>
    <div class="secnav"><div class="search-box">
      <!-- <button class="btn-search"><i class="fas fa-search"></i></button> -->
      <input type="text" class="form-control" placeholder="Type to Search...">
    </div></div>
    <!-- <div class="secnav1">|</div> -->
    <a class="thinav"><i class="fa-regular fa-bell"></i></a>
    <a class="fornav" href="/contact"><i class="fa-regular fa-comment"></i></a>
    <a class="fivnav"><img src="/Images/ProductImages/Shoes/icoon-removebg-preview.png" width="36px" height="36px"></a>
    <div class="dropdown show">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= user.firstname %>
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/logout">LogOut</a>
        </div>
      </div>
  </div>