<div class="leftbar">
  <div class="forlogo"><a href="/"><img src="/LOGO/newLOGOTest/newLOGO_no_background.png" width="150px" height="80px"></a></div>
  <div class="headingDash">INFLUENCER DASHBOARD</div>
  <div class="menu">
    <div class="line"><hr></div>
    </div>
    <div class="dropdown2">
      <div id="drp" class="dropdown2-content">
        <!-- <p class="mm"></p> -->
        <ul>
          <a href="/influencerDash"><li><i class="fa-solid fa-hashtag"></i> <span class="olmargin">Social Handles</span></li></a>
          <a href="/influencerDash"><li><i class="fa-solid fa-people-arrows"></i><span class="olmargin">Follower Requests</span></li></a>
          <a href="/influencerDash"><li><i class="fa-solid fa-bell"></i><span class="olmargin">Notifications</span></li></a>
          <a href="/influencerDash"><li><i class="fa-solid fa-signs-post"></i><span class="olmargin">Your Posts</span></li></a>
          <a href="/influencerDash"><li><i class="fa-solid fa-comment"></i><span class="olmargin">Comments</span></li></a>
        </ul>
        <!-- <p class="mm">HELP & SUPPORT</p>
        <ul>
          <li><i class="fa-solid fa-info"></i><span class="olmargin">Help & Center</span></li>
          <li><i class="fa-solid fa-gear"></i><span class="olmargin">Settings</span></li>
          <li><i class="fa-solid fa-right-from-bracket"></i><span class="olmargin">LogOut</span></li>
        </ul> -->
        <a class="btn btn-info" href="/logout" style="margin-left: 5rem; margin-top: 8rem;">
          <i class="fa-solid fa-right-from-bracket"></i><span class="olmargin"></span>LogOut
        </a>
      </div>
    </div>
  </div>