<div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="#">
        <div class="caro-prod">
          <div class="caro-prod-title">New Hiking Collection</div>
          <div class="caro-prod-tag">Time to Hike is Here...</div>
        </div>
        <div class="caro-prod-price">Starting from just 99/-</div>
        <img src="Images/carouselImages/hiking collection.avif">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="Images/carouselImages/FORCLAZ SHOOTING TREK_MOUNTAIN_PEAH20 HAUTE-SAVOIE (1).avif" alt="">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="Images/carouselImages/WEDZE PA SKI FR500 PIQUANTE NEW AH20.avif" alt="">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="Images/carouselImages/TREK MOUNTAIN PE23 BEAUFORTAIN ALPES FRANCE.avif" alt="">
      </a>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-slide="prev" data-bs-target="#header-carousel">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-slide="next" data-bs-target="#header-carousel">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>