<a href="/productPage" class="product-card-link">
    <div class="product-card">
        <div class="prod-imag">
            <img src="/Images/ProductImages/Shoes/shoes-removebg-preview.png" alt="">
        </div>
        <div class="prod-line1">Product Name</div>
        <div class="prod-line2">Price Rs.123</div>
        <div class="prod-line3">Some Tagline</div>
    </div>
</a>