<a href="/productPage" class="product-card-link">
    <div class="product-card">
        <div class="prod-imag">
            <img src="/Images/ProductImages/Shoes/shoes-removebg-preview.png" alt="">
        </div>
        <div class="line1">Product Name,Lorem ipsum dolor sit amet consectetur.</div>
        <div class="line2"><span class="starsRatingGreen">4.2<img
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                    class="innerStars"></span><span class="greyclr">(2,991)</span></div>
        <div class="line3"><span class="montxt">₹499</span><span
                class="gclr"><s>₹4229</s></span><span><span class="greenclr">90% off</span>
        </div>
    </div>
</a>